$mainFontSize: 32px;
$mainFontColor: blue;

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    height: inherit;
  }

  &__title {
    font-size: $mainFontSize;
  }
}
